@font-face {
  font-family: BaiJamjuree;
  src: url('../font/Bai_Jamjuree/BaiJamjuree-Regular.ttf');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BaiJamjuree;
  src: url('../font/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf');
  font-stretch: normal;
  font-weight: 600;
  font-style: normal;
}

:root {
  --title-txt: hsl(210, 10%, 33%);
  --body-txt: hsl(201, 11%, 66%);
  --button-ios: hsl(171, 66%, 44%);
  --button-mac: hsl(233, 100%, 69%);
}

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: BaiJamjuree;
  margin: 0;
}

h1, h2, h3 {
  color: var(--title-txt);
}

@media (width > 600px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }
}

p {
  color: var(--body-txt);
  line-height: 1.5;
}

@media (width > 800px) {
  p {
    font-size: 18px;
  }
}

.download__container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (width < 800px) {
   .download__container {
    display: grid;
    width: 80%;
    justify-items: center;
  } 
}

 .download__button {
  border: none;
  color: white;
  border-radius: 20px;
  width: min(300px, 95%);
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: opacity .25s
}

.download__button--ios {
  background: var(--button-ios);
  box-shadow: 0 3px 2px #1a917f;
}

.download__button--mac {
  background: var(--button-mac);
  box-shadow: 0 3px 2px #4657db;
}

.download__button:hover {
  opacity: .8
}

@media (width > 800px) {
  .download__button {
    width: 220px;
  }
}
