header {
  background: url('../images/bg-header-mobile.png') no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: calc(7rem + 1vw);
}

@media (width > 375px) {
  header {
    background: url('../images/bg-header-desktop.png') no-repeat;
    background-size: cover;
  }
}

.intro__logo {
  width: 110px;
}

.intro__container {
  padding: 3rem 0 2.5rem 0;
  display: grid;
  gap: 1rem;
  max-width: 630px;
}

.intro__title {
  padding: 0 3rem 0 3rem;
}

@media (width < 600px) {
  .intro__title {
    font-size: 28px;
  }
}

.intro__body {
  padding: 0 2rem 0 2rem;
}


/* Buttons are in general.css */
